*{
    font-family: Arial;
}
#privacy-policies-message {
    background: #333;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    width: 375px;
    color: #fff;
    z-index: 999999999999;
    transform: translateY(200%);
    transition: .5s ease-out;
    opacity: 1;
    display:none;
}

#privacy-policies-message .content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px
}

#privacy-policies-message .fa {
    display: none
}

#privacy-policies-message.displayed {
    transform: translateY(0%);
    opacity: .5
}

#privacy-policies-message.displayed:hover {
    opacity: 1
}

#privacy-policies-message .heading.h3 {
    padding: 0px;
    grid-column: 1
}

#privacy-policies-message .heading.h3 span {
    font-size: 14pt
}

#privacy-policies-message .button {
    grid-column: 2;
    grid-row: 1;
    font-size: .75rem;
    padding: .5em
}

#privacy-policies-message .fa,
#privacy-policies-message p,
#privacy-policies-message .h3 span {
    color: #fff
}

#privacy-policies-message p {
    font-size: 9pt;
    grid-column: 1/span 2;
    grid-row: 2
}

#privacy-policies-message p a {
    text-decoration: underline
}

#privacy-policies-message .fa {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

@media screen and (max-width: 640px) {
    #privacy-policies-message {
        z-index: 999999999999;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: auto;
        padding: 10px
    }
    #privacy-policies-message .heading {
        padding: 0
    }
    #privacy-policies-message .heading span {
        font-size: 15px
    }
    #privacy-policies-message .button,
    #privacy-policies-message p {
        font-size: 12px
    }
    #privacy-policies-message .button {
        padding: 5px 8px
    }
}

@media print {
    #privacy-policies-message {
        display: none !important
    }
}